
<h1>Puck Times Archives</h1>
<% if user_signed_in? && (current_user.email == "bbensch@gmail.com" || current_user.email == "abensch66@gmail.com") %>
<h3>
  <%= link_to 'Create New Article', new_article_path, class:"btn btn-default" %>
</h3>
<table>
  <thead>
    <tr>
      <th class="col-md-5">Title</th>
      <th class="col-md-3">Written by</th>
      <th class="col-md-2">Published</th>
      <th class="col-md-1"></th>
      <th class="col-md-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td class="col-md-5"><%= link_to article.title, article %></td>
        <td class="col-md-3"><%= article.author %></td>
        <td class="col-md-2"><%= article.time_since_written %></td>
          <td class="col-md-1">
            <%= link_to edit_article_path(article), class:"btn btn-default" do %>
            <i class="glyphicon glyphicon-pencil">Edit</i>
            <%end%>
          </td>
          <td class="col-md-1">
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%end%>
<br>


<div class="row">
  <% @articles.each do |article| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img itemprop="image" src="http://i2.wp.com/thehockeywriters.com/wp-content/uploads/2015/09/Max-Domi.jpg?zoom=2&amp;resize=395%2C238" alt="5 Reasons to Believe in the San Jose Sharks" class="img-responsive img-thumbnail" width="395" height="238">
        <div class="caption">
          <%= link_to article.title, article, :class=>"btn btn-primary title-link" %>
        </div>
      </div>
    </div>
  <%end%>

</div>
